* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* chinh kich thuoc footer */

.footer {
    height: auto;
    padding-top: 3%;
    background-color: #303132;
    border-bottom: 2px solid #0181ff;
}


/* end */


/* footer-open css */

.col {
    position: relative;
    top: 20px;
}

.col-md-3 img {
    width: 17%;
    height: 50%;
}

.bigfox {
    position: relative;
    left: 18%;
    top: -40px;
    text-decoration: none;
}

.bigfox h3 {
    color: #03affb;
    font-weight: bold;
}

.col .text {
    position: relative;
    bottom: 27px;
}

.col-md-3 h3 {
    font-weight: bold;
}

.col a {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

.col a:hover {
    background-color: #0181ff;
}

.col1 ul li a {
    margin-left: 10px;
    position: relative;
    text-decoration: none;
    color: #fff;
    line-height: 35px;
}

.col1 ul li {
    display: block;
}

.col1 ul li i {
    color: #0181ff;
}

.col1 h3 {
    position: relative;
    left: 25px;
}

.col .post {
    display: flex;
}

.col .post p {
    position: relative;
    right: 27px;
    bottom: 20px;
}

.col hr {
    position: relative;
    bottom: 30px;
}

.col .post img {
    position: relative;
    bottom: 28px;
    width: 20%;
    height: 1%;
}

.col1 hr {
    position: relative;
    bottom: 25px;
}

.col3 p {
    position: relative;
    left: 46px;
    bottom: 10px;
    font-size: small;
    color: #919192;
}

.col3 img a {
    position: relative;
    left: 6px;
}

.col1 hr {
    width: 100px;
    color: #0181ff;
    position: relative;
    left: 33px;
    bottom: 11px;
}


/* design end footer */

.footer-end {
    background-color: #242424;
    height: 80px;
    position: relative;
}

.footer-end .row {
    position: relative;
    top: 30px;
}

.footer-end-text {
    float: right;
}

.footer-end-text a {
    text-decoration: none;
}

.footer-end-text a i {
    color: #0181ff;
}


/* end */