    /* Setting Service */
    
    * {
        margin: auto;
        padding: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Service-Top  */
    
    .service-title {
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
    }
    
    .service-image {
        /* width: 99%; */
        padding-top: 30px;
    }
    
    .service-title-open {
        padding-top: 15px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .service-content {
        padding-top: 30px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .service-content-image {
        padding-top: 40px;
    }
    
    .service-content-image h3 {
        font-weight: bold;
    }
    
    .service-content-image ul li {
        display: block;
        padding-top: 15px;
        font-size: 15px;
    }
    
    .service-content-image ul li img {
        width: 2.3%;
        padding-right: 5px;
    }
    
    .service-content-image ul {
        padding-left: 0rem;
    }
    /* end service-top */
    /* Design Service Main  */
    
    .service-main {
        background-color: #f0f4f8;
        width: 100%;
        height: 100%;
        padding-bottom: 12%;
    }
    
    .service-main h3 {
        text-align: center;
        margin-bottom: 10%;
        top: 38px;
    }
    
    .service-main .col-md-4 {
        margin-bottom: 99px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 350px;
        height: 550px;
        border-bottom: 3px solid #03affb;
        padding: 0px;
        color: #f0f4f8;
        border-radius: 17px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        transition: calc(0.3s)
    }
    /* design text Col */
    
    .service-main .col-md-4 .service-main-box {
        background-color: #03affb;
        width: auto;
        height: 32%;
        border-radius: 17px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .service-main-box1 {
        font-size: small;
        text-align: center;
        color: #b0dffc;
        position: relative;
        top: 20px;
    }
    
    .service-main-box2 {
        text-align: center;
        color: aliceblue;
        font-size: 24px;
        position: relative;
        top: 15px;
    }
    
    .service-main-box3 {
        font-weight: bold;
        font-size: 30px;
    }
    
    .service-main-box5 {
        color: black;
        position: relative;
        top: 30px;
        left: 20px;
    }
    
    .service-main-box5 ul li {
        display: block;
        margin: 5px 0;
    }
    
    .service-main-box5 ul li img {
        width: 10%;
        position: relative;
        right: 20px;
    }
    /* end design text col */
    /* design box text */
    
    .box {
        background-color: white;
        width: 55%;
        height: 60%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 1px;
        padding-top: 13px;
        position: relative;
        top: 20px;
    }
    
    .box p {
        text-align: center;
        color: black;
        position: relative;
        margin: 0px;
    }
    
    .button1:hover {
        background-color: #06acfb;
        color: white;
        position: relative;
        left: 103px;
        top: 50px;
    }
    
    .button {
        color: #2ca3f7;
        text-align: center;
        width: 40%;
        height: 27%;
        border-radius: 15px;
        border: 2px solid #07a6f9;
        display: block;
        position: relative;
        left: 103px;
        top: 50px;
        font-size: 12px;
    }
    /* end design box text */
    
    .service-main .col-md-4:hover {
        transform: translateY(-25px);
    }
    /* end design serivce Main */
    /* hiệu ứng làm mờ text */
    
    .service_text_dark {
        color: #a2a2a2;
    }
    
    .service_text_dark img {
        color: #a2a2a2;
    }
    /* end text mơ */
    /* desing last service  */
    
    .title {
        color: #303036;
        font-weight: bold;
        position: relative;
        bottom: 30px;
        font-size: 35px;
    }
    
    .service {
        height: 100%;
        width: auto;
    }
    
    .all-service-title {
        text-align: center;
        position: relative;
        top: 20px;
        font-weight: bold;
        font-size: 35px;
    }
    
    .textcol .row .col-md-4 {
        position: relative;
        top: 40px;
        margin: 13px 0;
        position: relative;
        border-radius: 15px;
    }
    
    .textcol .row .col-md-4 img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .textcol .row .col-md-4 a {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #f0f4f8;
        display: inline-block;
        display: flex;
        text-decoration: none;
        position: absolute;
        top: 195px;
        left: 50%;
        margin-left: -20px;
        opacity: 0;
    }
    
    .textcol .row .col-md-4 p {
        position: absolute;
        margin-left: 20px;
        opacity: 0;
        color: #fff;
    }
    
    .textcol .row .col-md-4 h4 {
        position: absolute;
        bottom: 20px;
        left: 100px;
        opacity: 0;
        font-weight: bold;
        color: #fff;
        line-height: 20px;
    }
    
    .textcol .row .col-md-4:hover h4 {
        opacity: 1;
    }
    
    .textcol .row .col-md-4:hover p {
        opacity: 1;
    }
    
    .textcol .row .col-md-4:hover a {
        opacity: 1;
    }
    
    .textcol .row .col-md-4:hover img {
        display: none;
    }
    
    .textcol .row .col-md-4:hover {
        transition: calc(0.6s);
        border-radius: 15px;
        background-color: #03affb;
        box-sizing: border-box;
    }
    
    .content {
        display: flex;
        position: relative;
        top: 120px;
    }
    /* reponsive text */
    
    @media only screen and (min-width: 574px) and (max-width: 1170px) {
        .service-main {
            max-width: 100%;
        }
        .container {
            max-width: 100%;
        }
        .textcol .row .col-md-4 p {
            position: absolute;
            top: -50px;
            opacity: 0;
            color: #fff;
            text-align: center;
        }
        .textcol .row .col-md-4 h4 {
            position: absolute;
            bottom: 50px;
            left: 40px;
            opacity: 0;
            color: #fff;
        }
        .textcol .row .col-md-4 a {
            position: absolute;
            top: 170px;
            left: 50%;
        }
    }
    
    @media only screen and (min-width: 100px) and (max-width: 1170px) {
        .service-main {
            max-width: 100%;
        }
        .container {
            max-width: 100%;
        }
        .textcol .row .col-md-4 p {
            position: absolute;
            top: -70px;
            opacity: 0;
            color: #fff;
            text-align: center;
            font-size: 12px;
        }
        .textcol .row .col-md-4 h4 {
            position: absolute;
            bottom: 60px;
            left: 40px;
            opacity: 0;
            color: #fff;
        }
        .textcol .row .col-md-4 a {
            position: absolute;
            top: 118px;
            left: 50%;
        }
    }
    /* end desig last service */